{% extends 'core/base.html' %}

{% block title %}Search | {% endblock title %}

{% block content %}
<section class="hero ">
    <div class="hero-body">
        <div class="container">
            <section class="section">
                <div class="columns is-variable is-8">
                    <div class="column is-5 is-offset-1 ">
                        <div class="content is-medium">
                            <h1>Search results</h1>
                            <h3>Query "{{ query }}"</h3>
                        </div>

                        {% for post in posts %}
                            {% include  'core/post.html' %}
                        {% empty %}
                            <div class="content">
                                <p>No results for {{ query }}...</p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock content %}